In [ ]:
# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('BreastCancer.csv')

In [3]:
data.shape

(116, 8)

In [4]:
data.head(n=20)

,Age,BMI,Glucose,Insulin,Leptin,Adiponectin,Resistin,Classification
0,48,23.500000,70.0,2.707,8.8071,9.702400,7.99585,Cancer
1,83,20.690495,92.0,3.115,8.8438,5.429285,4.06405,Cancer
2,82,23.124670,91.0,4.498,17.9393,22.432040,9.27715,Cancer
3,68,21.367521,77.0,3.226,9.8827,7.169560,12.76600,Cancer
4,86,21.111111,92.0,3.549,6.6994,4.819240,10.57635,Cancer
5,49,22.854458,92.0,3.226,6.8317,13.679750,10.31760,Cancer
6,89,22.700000,77.0,4.690,6.9640,5.589865,12.93610,Cancer
7,76,23.800000,118.0,6.470,4.3110,13.251320,5.10420,Cancer
8,73,22.000000,97.0,3.350,4.4700,10.358725,6.28445,Cancer
9,75,23.000000,83.0,4.952,17.1270,11.578990,7.09130,Cancer
10,34,21.470000,78.0,3.469,14.5700,13.110000,6.92000,Cancer
11,29,23.010000,82.0,5.663,35.5900,26.720000,4.58000,Cancer
12,25,22.860000,82.0,4.090,20.4500,23.670000,5.14000,Cancer
13,24,18.670000,88.0,6.107,8.8800,36.060000,6.85000,Cancer
14,38,23.340000,75.0,5.782,15.2600,17.950000,9.35000,Cancer
15,44,20.760000,86.0,7.553,14.0900,20.320000,7.64000,Cancer
16,47,22.030000,84.0,2.869,26.6500,38.040000,3.32000,Cancer
17,61,32.038959,85.0,18.077,30.7729,7.780255,13.68392,Cancer
18,64,34.529723,95.0,4.427,21.2117,5.462620,6.70188,Cancer
19,32,36.512637,87.0,14.026,49.3727,5.100000,17.10223,Cancer

In [5]:
data.tail(n=2)

,Age,BMI,Glucose,Insulin,Leptin,Adiponectin,Resistin,Classification
114,72,25.59,82.0,2.82,24.96,33.75,3.27,Healthy Control
115,86,27.18,138.0,19.91,90.28,14.11,4.35,Healthy Control

In [6]:
data.describe()

,Age,BMI,Glucose,Insulin,Leptin,Adiponectin,Resistin
count,116.000000,112.000000,115.000000,115.000000,116.000000,115.000000,115.000000
mean,57.301724,27.589840,98.034783,9.941957,26.615080,10.184783,14.578449
std,16.112766,5.102647,22.472178,10.083331,19.183294,6.873161,12.342139
min,24.000000,18.370000,60.000000,2.432000,4.311000,1.656020,3.210000
25%,45.000000,22.884615,86.000000,4.354500,12.313675,5.470395,6.871175
50%,56.000000,27.662416,92.000000,5.819000,20.271000,8.300955,10.695480
75%,71.000000,31.250000,102.000000,10.826500,37.378300,11.843980,17.465590
max,89.000000,38.578759,201.000000,58.460000,90.280000,38.040000,82.100000

In [8]:
data['Classification'].value_counts()

Cancer             76
Healthy Control    40
Name: Classification, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 8 columns):
Age               116 non-null int64
BMI               112 non-null float64
Glucose           115 non-null float64
Insulin           115 non-null float64
Leptin            116 non-null float64
Adiponectin       115 non-null float64
Resistin          115 non-null float64
Classification    116 non-null object
dtypes: float64(6), int64(1), object(1)
memory usage: 6.8+ KB

In [ ]:
# Imputasi missing value

In [10]:
np.sum(data.isnull())

Age               0
BMI               4
Glucose           1
Insulin           1
Leptin            0
Adiponectin       1
Resistin          1
Classification    0
dtype: int64

In [11]:
data.isnull().sum()

Age               0
BMI               4
Glucose           1
Insulin           1
Leptin            0
Adiponectin       1
Resistin          1
Classification    0
dtype: int64

In [58]:
data.isnull().sum().sum()

1183

In [12]:
#imputasi missing value data numerik
data['BMI'] = data['BMI'].fillna((data['BMI'].mean())) 
data['Age'] = data['Age'].fillna((data['Age'].median()))
data.isnull().any()

Age               False
BMI               False
Glucose            True
Insulin            True
Leptin            False
Adiponectin        True
Resistin           True
Classification    False
dtype: bool

In [13]:
# imputasi untuk data numerik yang lain
data['BMI']=data['BMI'].fillna(99)
data['Insulin']=data['Insulin'].fillna(111)
data.isnull().any()

Age               False
BMI               False
Glucose            True
Insulin           False
Leptin            False
Adiponectin        True
Resistin           True
Classification    False
dtype: bool

In [14]:
#imputasi data kategorik dengan modus
data['Age'] = data.fillna(data['Age'].value_counts().index[0])
data.isnull().any()

Age               False
BMI               False
Glucose            True
Insulin           False
Leptin            False
Adiponectin        True
Resistin           True
Classification    False
dtype: bool

In [15]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Age               False
BMI               False
Glucose           False
Insulin           False
Leptin            False
Adiponectin       False
Resistin          False
Classification    False
dtype: bool

In [16]:
# Encode Labels

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
# Encode untuk Sex, Steroid, Anaroxia, Spleen Pabable, Spiders tanpa membuat kolom baru
data['Age'] = LabelEncoder().fit_transform(data['Age'])
data['BMI'] = LabelEncoder().fit_transform(data['BMI'])
data['Glucose'] = LabelEncoder().fit_transform(data['Glucose'])
data['Insulin'] = LabelEncoder().fit_transform(data['Insulin'])
data['Leptin'] = LabelEncoder().fit_transform(data['Leptin'])
data['Adiponectin'] = LabelEncoder().fit_transform(data['Adiponectin'])
data['Resistin'] = LabelEncoder().fit_transform(data['Resistin'])
data['Classification'] = LabelEncoder().fit_transform(data['Classification'])
data.head()

   Age  BMI  Glucose  Insulin  Leptin  Adiponectin  Resistin  Classification
0   17   33        1        3      14           68        37               0
1   47    5       19        9      15           26         4               0
2   46   30       18       33      50          107        45               0
3   35   14        5       11      21           41        66               0
4   49   11       19       19       4           20        56               0

In [ ]:
## Standardize

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
data['Age'] = StandardScaler().fit(data[['Age']]).transform(data[['Age']])
data['Classification'] = StandardScaler().fit(data[['Classification']]).transform(data[['Classification']])
data['Adiponectin'] = StandardScaler().fit(data[['Adiponectin']]).transform(data[['Adiponectin']])
data['Leptin'] = StandardScaler().fit(data[['Leptin']]).transform(data[['Leptin']])
data['Resistin'] = StandardScaler().fit(data[['Resistin']]).transform(data[['Resistin']])

C:\Users\ASPIRE\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\ASPIRE\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int32 were all converted to float64 by StandardScaler.
  """

In [23]:
data.head()

,Age,BMI,Glucose,Insulin,Leptin,Adiponectin,Resistin,Classification
0,-0.603124,33,1,3,-1.299086,0.372814,-0.602551,-0.725476
1,1.578655,5,19,9,-1.269222,-0.884176,-1.600632,-0.725476
2,1.505929,30,18,33,-0.223980,1.540020,-0.360592,-0.725476
3,0.705943,14,5,11,-1.090038,-0.435251,0.274550,-0.725476
4,1.724107,11,19,19,-1.597727,-1.063746,-0.027898,-0.725476

In [ ]:
# Normalize

In [24]:
from sklearn.preprocessing import Normalizer

In [25]:
data['Age'] = Normalizer().fit(data[['Age']]).transform(data[['Age']])
data['BMI'] = Normalizer().fit(data[['BMI']]).transform(data[['BMI']])
data['Adiponectin'] = Normalizer().fit(data[['Adiponectin']]).transform(data[['Adiponectin']])

In [26]:
data.head()

   Age  BMI  Glucose  Insulin    Leptin  Adiponectin  Resistin  Classification
0 -1.0  1.0        1        3 -1.299086          1.0 -0.602551       -0.725476
1  1.0  1.0       19        9 -1.269222         -1.0 -1.600632       -0.725476
2  1.0  1.0       18       33 -0.223980          1.0 -0.360592       -0.725476
3  1.0  1.0        5       11 -1.090038         -1.0  0.274550       -0.725476
4  1.0  1.0       19       19 -1.597727         -1.0 -0.027898       -0.725476